.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 70vh;
    background-color: #333333;
   justify-items: auto;
   column-gap: 2px;
   color: #dcdc1d;
    
}


.footer-section{
    height: 70vh;
    width: 25vw;
    padding: 4vmax 1vmax;
    box-sizing: border-box;
    color: #FFFFE0;
   
   
}

.footer-section1{
     height: 70vh;
       color: rgba(211, 202, 202, 0.351);
    width: 25vw;
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-footer-home{
    height: 35vh;
    position: relative;
    bottom: 25vh;
   
   
}

.footer-heading{
    font: 400 2vmax "Roboto";
    margin: 5vmax 0 2vmax 0;
      color: rgba(236, 228, 228, 0.732);
}
.footer-navlinks{
    display: flex;
    flex-direction: column;
      color: rgba(211, 202, 202, 0.351);
    
    
}
.footer-navlinks>a{
    text-decoration: none;
    margin: 0.7vmax 0;
    font: 300 1.2vmax "Roboto";
      color: rgba(211, 202, 202, 0.351);
}



.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bottom-footer{
   border-top: 2px solid white;
    height: 3vmax;
    width: full;
    background-color: rgb(10, 10, 41);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:600px) {
    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: 30vh 15vh 20vh 30vh;
        column-gap: 0;
      
    }
    .logo-footer-home{
     
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 12vmax;
       
       
       
    }
    .logo-footer-home>img{
        width: 35vmax;
       
       
    }
    .footer-section1{
        height: 25vh;
       
          display: flex;
       flex-direction: column;
       width: 100vw;
       justify-content: space-evenly;
     
      
       
       
       justify-content: center;
   }
   .icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 5vmax;
}
.footer-section{
    height: 30vh;
    width: 100vw;
    padding: 2vmax 1vmax;
    box-sizing: border-box;

  
    
   
   
   
}
.footer-heading{
    font: 400 2vmax "Roboto";
    margin: 1vmax 0 0vmax 0;
    
      text-align: center;
     
      

}
.footer-navlinks{
    display: flex;
    flex-direction: column;
    text-align: center;
     
    
    
}
.bottom-footer{
  
     height: 5vmax;
     font: 300 1.2vmax "Roboto";
   
 }


    
}